.UserList {
  list-style: none;
  padding-inline-start: 0;

  display: flex;
  flex-direction: column;

  li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    box-sizing: border-box;
  }
  .Username {
    width: calc(50% - 1.5em);
    text-align: end;
  }
  .Separator {
    width: 3em;
  }
  .Estimate {
    text-align: start;
  }
}
