// COLORS
$font-color: #444;
$background: #fafafa;
$button-background: #cccccc;
$button-background-active: #ececec;
$font-color-active: #575757;
$border: 1px solid #444;

// SIZES
$page-width: 320px;
$padding-top: 1em;
$padding-bottom: 2em;
$padding-box: $padding-top $padding-bottom;
$padding: 1em;
// FONT
$header-font-size: 16px;
$header-font-height: 19px;
$font-size: 14px;
$line-height: 17px;
